
header{
  width: 100%;
  height: 50px;
  background: #f4483e;
  line-height:44px;
  text-align: center;
  position: relative;
}
header h2{
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
.downLoad{
  width: 36px;
  height: 36px;
  background: url("../images/header_app.png") no-repeat right center;
  -webkit-background-size:contain;
  background-size:contain;
  padding-top:12px;
  position: absolute;
  right: 10px;
  top: 0;
}
header .arrow{
     width: 26px;
     height: 28px;
     background: url(../images/icback.svg) no-repeat;
     -webkit-background-size: contain;
     background-size: contain;
     position: absolute;
     left: 10px;
     top: 12px;
   }
.bcj-head-cat{
  height: 40px;
  display: -webkit-box;
  border-bottom: 1px solid #eeeeee;
}
.bcj-head-cat .bcj-title{
  width: 100%;
  height:40px;
  background: #fff;
  position: relative;
}
.bcj-head-cat .bcj-title .ul-wapper{
  overflow: hidden;
}
.bcj-head-cat .bcj-title .ul-wapper ul{
  background-color: #FFFFFF;
  border-bottom: none;
  /*overflow: hidden;*/
  display: -webkit-box;
  -webkit-box-flex: 1;
  overflow-x: scroll;
}
.bcj-head-cat .bcj-title .ul-wapper li{
  line-height:38px;
  height: 38px;
}
.bcj-head-cat .bcj-title .ul-wapper li a{
  color: #333333;
  display: inline-block;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  float: left;
  padding: 0;
  margin: 0 12px;
  width: auto;
  box-sizing: content-box;
}
.bcj-head-cat .bcj-title .ul-wapper .active{
  color: #f10215;
  border-bottom: 2px solid #e4393c;
}
.searchIcon{
  width: 38px;
  height: 38px;
  background: url("../images/search.svg") no-repeat #fbfbfb;
  background-size: contain;
  position: absolute;
  right: 0;
}
.bcj-list{
  width: 100%;
}
.bcj-list li{
  margin: 6px auto;
  background-color: #ffffff;
  position: relative;
  padding: 10px 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.bcj-list .ui-border-tb a{
  /*display: block;*/
  /*width: 100%;*/
}
.bcj-list li a .pic{
  width: 130px;
  height:134px;
  float: left;
}
.inf h3{
  color: #333333;
  font-size: 16px;
}
.inf .price{
  padding:5px;
  color: #f10215;
  font-size: 18px;

}
.inf .price i,.inf .price em{
  
}
.inf  del{
  color: #999;
  font-size: 12px;
  text-decoration: line-through;
  margin-left: 20px;
}
.inf .bar{}
.inf .bar a{}
.inf .bar i{
  position: relative;
  width: 82px;
  height: 14px;
  display: inline-block;
  border:1px solid #f10215;
  border-radius: 15px;
  background: #ffb7b7;
}
.inf .bar i em{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  background: #fc353a;
  display: block;
  transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
}
.inf .bar i span{
  font-size: 12px;
  line-height: 11px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
}
.inf .bar b{
  color: #f10215;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
  vertical-align: text-bottom;
}
.inf .ticket{
  position: relative;
  margin-top: -12px;
}
.bcj-list .ui-border-tb .inf .ticket a:nth-child(1){
  display: block;
  width: 116px;
  height: 30px;
  border: 1px dashed #f10215;
  color: #f10215;
  margin-left: 130px;
  line-height: 30px;
  text-align: center;
}
.bcj-list .ui-border-tb .inf .ticket a:nth-child(2){
  width: 80px;
  height: 36px;
  background: #ff5e5d;
  color: #fff;
  line-height: 36px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 3px;
  text-align: center;
}